* {
	scrollbar-color: auto;
	scrollbar-width: auto;
}

.nav_header {
	position: static;
}

.nav_brand {
	z-index: 1;
}

.show .nav_body {
	top: 2rem;
}

.nav_brand picture, .nav_brand img {
	max-width: 15rem;

	@media screen and (min-width: 557px) {
		max-width: 22rem;
	}
}

@media screen and (min-width: 992px) {
	.nav {
		grid-template-columns: min-content 1fr;
	}
}

a {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

a.button, nav a, aside a, .page-section article a {
	text-decoration: none;
}

b, strong {
	font-weight: 700;
}

blockquote p {
	font-style: normal;
}

ol li::marker {
	font-family: sans-serif;
}

.page-home .content img {
	border-radius: 1rem;
}

@media screen and (min-width: 557px) {
	.button_grid {
		max-width: 30rem;
	}
}

.next-button {
	padding: 0.5rem 1rem;
	margin-bottom: 0.75rem;
	border-radius: 0.25rem;
	width: 18rem;
	max-width: 40vw;
	position: relative;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	&::after {
		background-image: var(--next-icon);
		content: "";
		margin-left: 0.67rem;
		height: 0.8rem;
		width: 0.8rem;
		background-size: 100%;
		background-repeat: no-repeat;
		transform-origin: 50% 50%;
	}

	@media screen and (max-width:557px) {
		max-width: 100%;
	}
}

.pros ul {
	list-style-type: "✓ ";

	& ::marker {
		color: #4CAF50;
	}
}

.cons ul {
	list-style-type: "✗ ";

	& ::marker {
		color: #F44336;
	}
}

.post_body ul {
	list-style: inherit;
}

.non-free {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: #CC0000;
}

nav.i18n {
	display: flex;
	flex-direction: row;

	svg {
		min-width: 50px;
		align-self: center;
	}

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	li {
		padding: 0;
	}

	a {
		text-decoration: underline;
	}
}
